# [作業目標]

1. [簡答題] 請問 Pandas 套件最主要的貢獻是什麼？

2. 根據提供的資料集，印出他們的屬性分別為何？
（屬性：shape、size、values、index、columns、dtypes、len）

# 作業

### 1. [簡答題] 請問 Pandas 套件最主要的貢獻是什麼？

In [3]:
提供了快速高效的 DataFrame 結構。對處理資料分析時能提供更佳的運算能力
在各領域中廣泛被使用，包括金融，神經科學，經濟學，統計學，廣告，Web分析等
對於資料格式有高度的銜接性，包含 CSV、Excel 或資料庫（SQL）皆能提供彈性的讀寫工具

'\nYour Code\n'

### 2. 根據提供的資料集，印出他們的屬性分別為何？
（屬性：shape、size、values、index、columns、dtypes、len）

In [3]:
import numpy as np
import pandas as pd
df = pd.read_csv('https://raw.githubusercontent.com/MachineLearningLiuMing/scikit-learn-primer-guide/master/Data.csv')
df

   Country   Age   Salary Purchased
0   France  44.0  72000.0        No
1    Spain  27.0  48000.0       Yes
2  Germany  30.0  54000.0        No
3    Spain  38.0  61000.0        No
4  Germany  40.0      NaN       Yes
5   France  35.0  58000.0       Yes
6    Spain   NaN  52000.0        No
7   France  48.0  79000.0       Yes
8  Germany  50.0  83000.0        No
9   France  37.0  67000.0       Yes

In [4]:
import numpy as np
import pandas as pd
df = pd.read_csv('https://raw.githubusercontent.com/MachineLearningLiuMing/scikit-learn-primer-guide/master/Data.csv')
print('Shape:', df.shape)
print('\nSize:', df.size)
print('\nValue:', df.values)
print('\nIndex:', df.index)
print('\nColumns:', df.columns)
print('\nDtype:', df.dtypes)
print('\nLen:', len(df))

Shape: (10, 4)

Size: 40

Value: [['France' 44.0 72000.0 'No']
 ['Spain' 27.0 48000.0 'Yes']
 ['Germany' 30.0 54000.0 'No']
 ['Spain' 38.0 61000.0 'No']
 ['Germany' 40.0 nan 'Yes']
 ['France' 35.0 58000.0 'Yes']
 ['Spain' nan 52000.0 'No']
 ['France' 48.0 79000.0 'Yes']
 ['Germany' 50.0 83000.0 'No']
 ['France' 37.0 67000.0 'Yes']]

Index: RangeIndex(start=0, stop=10, step=1)

Columns: Index(['Country', 'Age', 'Salary', 'Purchased'], dtype='object')

Dtype: Country       object
Age          float64
Salary       float64
Purchased     object
dtype: object

Len: 10