# [作業目標]

1. [簡答題] 請問下列四種不同的 DataFrame 選取結果有什麼差異？

```
df.loc[ '2013-01-01', 'A'] 
df.loc[ '2013-01-01', ['A', 'B'] ] 
df.loc[ '2013-01-01':'2013-01-02', 'A' ] 
df.loc[ '2013-01-01':'2013-01-05', 'A':'C'] 
```


2. 請根據提供的資料，選擇出下列的要求：

```
# - select the first 3 rows.
# - select the odd rows. (index = 1, 3, 5)
# - select the last 2 columns.
# - select the even columns. (index = 0, 2, 4)
```

3. 請根據提供的資料，選擇出下列的要求：

```
# - 1. filtered by first column > 20?
# - 2. filtered by first column + second column > 50
# - 3. filtered by first column < 30 or second column > 30
# - 4. filtered by total sum of row > 100
```

# 作業

### 1. [簡答題] 請問下列四種不同的 DataFrame 選取結果有什麼差異？

```
df.loc[ '2013-01-01', 'A'] 
df.loc[ '2013-01-01', ['A', 'B'] ] 
df.loc[ '2013-01-01':'2013-01-02', 'A' ] 
df.loc[ '2013-01-01':'2013-01-05', 'A':'C'] 
```

In [ ]:
df.loc[ '2013-01-01', 'A'] 選取'2013-01-01'中'A'的資料(值)
df.loc[ '2013-01-01', ['A', 'B'] ] 選取'2013-01-01'中'A'、'B'的資料(series)
df.loc[ '2013-01-01':'2013-01-02', 'A' ] 選取'2013-01-01'及'2013-01-02'中'A'的資料(series)
df.loc[ '2013-01-01':'2013-01-05', 'A':'C'] 選取'2013-01-01'至'2013-01-05'中'A'至'C'的資料(DataFrame)

### 2. 請根據提供的資料，選擇出下列的要求：

```
# - select the first 3 rows.
# - select the odd rows. (index = 1, 3, 5)
# - select the last 2 columns.
# - select the even columns. (index = 0, 2, 4)
```

In [7]:
df = pd.DataFrame(np.random.randn(6,3),columns=['col1','col2','col3'])
df

       col1      col2      col3
0  0.824286  0.264754 -0.887365
1 -1.044179  0.151320 -0.975283
2 -1.812146  0.995687  2.556824
3  1.746811  0.183326 -1.529704
4  0.992052  1.578329 -0.858061
5  0.387535  0.339512  0.714364

In [6]:
import numpy as np
import pandas as pd
df = pd.DataFrame(np.random.randn(6,3),columns=['col1','col2','col3'])
print(df.iloc[0:3])
print('===')
print(df.iloc[1::2])
print('===')
print(df.iloc[:,-2:])
print('===')
print(df.iloc[:,0::2])

       col1      col2      col3
0 -0.149104  0.753672  0.769631
1 -0.096945 -0.393385  0.112763
2 -0.178324  0.746889 -0.938413
===
       col1      col2      col3
1 -0.096945 -0.393385  0.112763
3  0.386449 -1.289962  0.822351
5  0.695267 -1.756768  0.330450
===
       col2      col3
0  0.753672  0.769631
1 -0.393385  0.112763
2  0.746889 -0.938413
3 -1.289962  0.822351
4 -0.089343 -1.260470
5 -1.756768  0.330450
===
       col1      col3
0 -0.149104  0.769631
1 -0.096945  0.112763
2 -0.178324 -0.938413
3  0.386449  0.822351
4  1.647363 -1.260470
5  0.695267  0.330450

### 3. 請根據提供的資料，選擇出下列的要求：

```
# - 1. filtered by first column > 20?
# - 2. filtered by first column + second column > 50
# - 3. filtered by first column < 30 or second column > 30
# - 4. filtered by total sum of row > 100
```

In [5]:
df = pd.DataFrame(np.random.randint(10, 40, 60).reshape(-1, 4))
df

     0   1   2   3
0   24  32  33  17
1   37  32  26  15
2   15  27  21  36
3   34  30  27  24
4   34  20  38  27
5   16  39  28  16
6   39  35  38  24
7   35  19  37  12
8   16  17  37  32
9   38  38  38  17
10  10  21  15  39
11  25  35  27  22
12  33  20  15  37
13  27  29  13  19
14  32  15  13  25

In [18]:
import numpy as np
import pandas as pd
df = pd.DataFrame(np.random.randint(10, 40, 60).reshape(-1, 4))
print(df[df[0]>20])
print('===')
print(df[(df[0] + df[1]) > 50])
print('===')
print(df[(df[0]<30) | (df[1]>30)])
print('===')
print(df[df.sum(axis=1)>100])

     0   1   2   3
0   36  32  18  10
1   26  14  24  28
3   35  27  22  36
4   33  14  24  12
5   28  31  18  15
6   28  24  29  10
7   26  17  39  18
8   24  11  38  33
9   31  20  24  39
10  23  15  12  21
11  24  37  34  24
13  28  12  20  10
14  29  20  38  36
===
     0   1   2   3
0   36  32  18  10
2   18  33  36  34
3   35  27  22  36
5   28  31  18  15
6   28  24  29  10
9   31  20  24  39
11  24  37  34  24
===
     0   1   2   3
0   36  32  18  10
1   26  14  24  28
2   18  33  36  34
5   28  31  18  15
6   28  24  29  10
7   26  17  39  18
8   24  11  38  33
10  23  15  12  21
11  24  37  34  24
12  15  13  30  26
13  28  12  20  10
14  29  20  38  36
===
     0   1   2   3
2   18  33  36  34
3   35  27  22  36
8   24  11  38  33
9   31  20  24  39
11  24  37  34  24
14  29  20  38  36