# [作業目標]

1. 根據題目給的 DataFrame 完成下列操作：

```
- 計算每個不同種類 animal 的 age 的平均數
- 計算每個不同種類 animal 的 age 的平均數
- 將資料依照 Age 欄位由小到大排序，再依照 visits 欄位由大到小排序
- 將 priority 欄位中的 yes 和 no 字串，換成是布林值 的 True 和 False
```


2. 一個包含兩個欄位的 DataFrame，將每個數字減去

```
* 1) 該欄位的平均數
* 2) 該筆資料平均數
```

3. 承上題，請問：

```
* 1) 哪一比的資料總合最小
* 2) 哪一欄位的資料總合最小
```

# 作業

### 1. 根據題目給的 DataFrame 完成下列操作：

```
- 計算每個不同種類 animal 的 age 的平均數
- 計算每個不同種類 animal 的 age 的平均數
- 將資料依照 Age 欄位由小到大排序，再依照 visits 欄位由大到小排序
- 將 priority 欄位中的 yes 和 no 字串，換成是布林值 的 True 和 False
```

In [ ]:
data = {
    'animal': ['cat', 'cat', 'snake', 'dog', 'dog', 'cat', 'snake', 'cat', 'dog', 'dog'],
    'age': [2.5, 3, 0.5, np.nan, 5, 2, 4.5, np.nan, 7, 3],
    'visits': [1, 3, 2, 3, 2, 3, 1, 1, 2, 1],
    'priority': ['yes', 'yes', 'no', 'yes', 'no', 'no', 'no', 'yes', 'no', 'no']
}

labels = ['a', 'b', 'c', 'd', 'e', 'f', 'g', 'h', 'i', 'j']
df = pd.DataFrame(data, index=labels)
df

  animal  age  visits priority
a    cat  2.5       1      yes
b    cat  3.0       3      yes
c  snake  0.5       2       no
d    dog  NaN       3      yes
e    dog  5.0       2       no
f    cat  2.0       3       no
g  snake  4.5       1       no
h    cat  NaN       1      yes
i    dog  7.0       2       no
j    dog  3.0       1       no

In [15]:
import numpy as np
import pandas as pd
data = {
    'animal': ['cat', 'cat', 'snake', 'dog', 'dog', 'cat', 'snake', 'cat', 'dog', 'dog'],
    'age': [2.5, 3, 0.5, np.nan, 5, 2, 4.5, np.nan, 7, 3],
    'visits': [1, 3, 2, 3, 2, 3, 1, 1, 2, 1],
    'priority': ['yes', 'yes', 'no', 'yes', 'no', 'no', 'no', 'yes', 'no', 'no']
}

labels = ['a', 'b', 'c', 'd', 'e', 'f', 'g', 'h', 'i', 'j']
df = pd.DataFrame(data, index=labels)
#計算每個不同種類 animal 的 age 的平均數
print(df.groupby('animal').age.mean())
print('===')
#將資料依照 Age 欄位由小到大排序，再依照 visits 欄位由大到小排序
A = df.sort_values(by='age',ascending = True)
print(A)
print(A.sort_values(by='visits',ascending = False))
print('===')
#將 priority 欄位中的 yes 和 no 字串，換成是布林值 的 True 和 False
print(df['priority'].replace(['yes', 'no'], [True, False]))

animal
cat      2.5
dog      5.0
snake    2.5
Name: age, dtype: float64
===
  animal  age  visits priority
c  snake  0.5       2       no
f    cat  2.0       3       no
a    cat  2.5       1      yes
b    cat  3.0       3      yes
j    dog  3.0       1       no
g  snake  4.5       1       no
e    dog  5.0       2       no
i    dog  7.0       2       no
d    dog  NaN       3      yes
h    cat  NaN       1      yes
  animal  age  visits priority
f    cat  2.0       3       no
b    cat  3.0       3      yes
d    dog  NaN       3      yes
c  snake  0.5       2       no
e    dog  5.0       2       no
i    dog  7.0       2       no
a    cat  2.5       1      yes
j    dog  3.0       1       no
g  snake  4.5       1       no
h    cat  NaN       1      yes
===
a     True
b     True
c    False
d     True
e    False
f    False
g    False
h     True
i    False
j    False
Name: priority, dtype: bool

### 2. 一個包含兩個欄位的 DataFrame，將每個數字減去

* 1) 該欄位的平均數
* 2) 該筆資料平均數

In [16]:
df = pd.DataFrame(np.random.random(size=(5, 3)))
df

          0         1         2
0  0.753666  0.331250  0.346241
1  0.808107  0.577903  0.742343
2  0.181254  0.667014  0.502474
3  0.516248  0.381288  0.609921
4  0.677266  0.569281  0.991111

In [22]:
import numpy as np
import pandas as pd
df = pd.DataFrame(np.random.random(size=(5, 3)))
#將每個數字減去
 #1) 該欄位的平均數
 #2) 該筆資料平均數
print(df - df.mean())
print('===')
print(df - df.mean(axis = 1) )

          0         1         2
0 -0.240656 -0.021466 -0.301953
1 -0.160576  0.335947 -0.230166
2 -0.086833 -0.413796 -0.077356
3  0.164901 -0.085863  0.231993
4  0.323164  0.185178  0.377481
===
          0         1         2   3   4
0 -0.227422  0.069764 -0.007465 NaN NaN
1 -0.147342  0.427177  0.064322 NaN NaN
2 -0.073600 -0.322566  0.217132 NaN NaN
3  0.178134  0.005368  0.526481 NaN NaN
4  0.336398  0.276409  0.671969 NaN NaN

### 3. 承上題，請問：

1) 哪一比的資料總合最小
2) 哪一欄位的資料總合最小

In [24]:
df

          0         1         2
0  0.032245  0.499191  0.247565
1  0.112325  0.856603  0.319352
2  0.186067  0.106860  0.472162
3  0.437801  0.434794  0.781511
4  0.596065  0.705835  0.926999

In [33]:
import numpy as np
import pandas as pd
df = pd.DataFrame(np.random.random(size=(5, 3)))
print(df)
#1) 哪一比的資料總合最小
print(df.sum(axis = 1).argmin())
#2) 哪一欄位的資料總合最小
print(df.sum().argmin())

          0         1         2
0  0.110633  0.830981  0.559199
1  0.689702  0.019243  0.203419
2  0.586062  0.297280  0.919992
3  0.217284  0.778947  0.433045
4  0.399823  0.794258  0.941459
1
0

In [34]:
'''
Your Code
'''

'\nYour Code\n'